<h1>UNO with Playing Cards</h1>
<form action ="/game">

  <body>

    <main>

      <h2> Rules </h1>
      <div class="flex">
        <table>
          <caption> Special Cards in UNO with Playing Cards</caption>

          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">UNO</th>
              <th scope="col">Card</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Change suit, draw 4</th>
              <td>Wild +4</td>
              <td>Ace</td>
            </tr>
            <tr>
              <th scope="row">Change suit</th>
              <td>Wild</td>
              <td>King</td>
            </tr>
            <tr>
              <th scope="row">Skip/Reverse</th>
              <td>Skip/Reverse</td>
              <td>Queen/Jack</td>
            </tr>
          </tbody>
        </table>
          
          <button>Play</button>
        <div>
        </main>
<!--maybe just try to work flexbox for this page-->
        <!--<div class="play">-->

        </div>

      </body>

    </form>
