<h1>UNO with Playing Cards</h1>
<form action ="/game">

 


      <h2> Rules </h1>
      
       <p> The rules for UNO with playing cards are fairly simple. You choose a card which matches the one at the top of the discard pile (or last in list currently) and keep going until you have none left. If there are no cards you can discard, then you will have to draw a new one until you are able to.</p>
      
      <div class="flex">
        <table>
          <caption> Special Cards in UNO with Playing Cards</caption>

          <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">UNO</th>
              <th scope="col">Card</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Change suit, draw 4</th>
              <td>Wild +4</td>
              <td>Ace</td>
            </tr>
            <tr>
              <th scope="row">Change suit</th>
              <td>Wild</td>
              <td>King</td>
            </tr>
            <tr>
              <th scope="row">Skip/Reverse</th>
              <td>Skip/Reverse</td>
              <td>Queen/Jack</td>
            </tr>
          </tbody>
        </table>

       

        <button id ="play">Play</button>

      </div>
    
    <!--maybe just try to work flexbox for this page-->
    <!--<div class="play">-->

  

</form>
